.container-fluid{
  background-color: #ffffff;
  padding: 20px;
  font-size: 12px;
  margin: 10px;
}

.program-image{
  background-color: #dddddd;
  width: 100%;
}

.mission-name{
  color: darkblue;
  margin-top: 10px;
  font-weight: bold;
}

.mission-label{
  font-weight: bold;
  color: #000000;
}

.mission-label-value{
  color: darkblue;
  font-weight: normal;
}
